<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Apuesta</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="apuesta-box">
        <div class="header">
            <span>50,00€ Simple</span>
            <span class="perdida">Perdida</span>
        </div>
        <div class="item">
            <p><strong>Mattia Bellucci Más de 1.5</strong> <span style="float: right;">2.20</span></p>
            <p>Encuentro - Jugador - Total de roturas de servicio</p>
            <p><em>Alex De Minaur</em></p>
            <p><em>Mattia Bellucci</em></p>
        </div>
        <div class="footer">
            <span>Imp: <strong>50,00€</strong></span>
            <span class="ganancias">Ganancias: 0,00€</span>
        </div>
    </div>
</body>
</html>


