<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu Apuestas</title>
</head>
<body class="d-flex flex-column h-100">
    <div th:fragment="navMisApuestas(active)">
        <ul class="nav nav-pills" id="nav-pills">
            <li class="nav-item" id="nav-item" th:classappend="${active == 'todas'} ? 'active'">
                <a class="nav-link" id="nav-link" th:href="${active == 'todas'} ? '#' : @{/}">Todas</a>
            </li>
            <li class="nav-item" id="nav-item" th:classappend="${active == 'determinadas'} ? 'active'">
                <a class="nav-link" id="nav-link" th:href="${active == 'determinadas'} ? '#' : @{/}">Determinadas</a>
            </li>
            <li class="nav-item" id="nav-item" th:classappend="${active == 'pendientes'} ? 'active'">
                <a class="nav-link" id="nav-link" th:href="${active == 'pendientes'} ? '#' : @{/}">Pendientes</a>
            </li>
        </ul>
    </div>
</body>