<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Nav fragment - rest intentionally left empty</title>
</head>

<body class="d-flex flex-column h-100">
    <nav th:fragment="navSeccionescomprimido" class="navSeccionescomprimido d-flex d-md-none pt-2" >
        <th:block th:each="seccion,i: ${secciones}">
            <a class="nav-link d-flex flex-column m-0 justify-content-center align-items-center" style="padding: 0px 12px;">
                <img width="25" height="25" th:src="@{/seccion/{id}/pic(id=${seccion.id})}">
                <span class="text-nowrap" style="font-size: 11px;" th:text="${seccion.nombre}">texto</span>
            </a>
        </th:block>
    </nav>
</body>

</html>