<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Nav fragment - rest intentionally left empty</title>
</head>

<body class="d-flex flex-column h-100">
    <nav th:fragment="navSeccionescomprimido" class="d-flex d-md-none pt-2" style="width: calc(100vw - 40px);" >

        <div id="btnIzSecciones" role="button"  class="h-100 d-flex align-items-center resaltaHover" style="min-width:30; max-width:30">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"/>
            </svg>
        </div>
        <div id="menuSeccionesComprimido" class="navSeccionescomprimido d-flex flex-grow-1 scroll-bar-oculta" style="scroll-behavior: smooth;">
            <th:block th:each="seccion,i: ${secciones}">
                <a class="nav-link d-flex flex-column m-0 justify-content-center align-items-center resaltaHover" href="#" style="padding: 0px 12px;">
                    <img width="25" height="25" th:src="@{/seccion/{id}/pic(id=${seccion.id})}">
                    <span class="text-nowrap" style="font-size: 11px;" th:text="${seccion.nombre}">texto</span>
                </a>
            </th:block>
        </div>
        <div role="button" id="btnDrSecciones" class="h-100 d-flex align-items-center resaltaHover" style="min-width:30; max-width:30">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-right " viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
        </div>
    </nav>
</body>

</html>