/*Estilos para el navBar principal*/

#navPrincipal{
    background-color: #6A0DAD;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    min-height: 70px;
}

#logoNav{
    width: 150px;
    height: 26px;
    margin: 0 , 17px, 17px ,17px;
}

#navbarSupportedContent{
    max-height: 70px;
    min-height: 70px;
}

#iconoAjustes:hover{
    color: #FFD700;
}
#iconoAjustes{
    color: white;
}

.botonIcono{
    outline: none;
    background-color: transparent;
}

/*para que mantenga el color en blanco cuando ya se ha seleccionado 
(aumenta la especifidad para sobreescribir el comportamiento de .botoOvalado:visited)*/
a.botonOvalado.nav-link{
    border-radius: 20px;
    padding: 7px 28px;
    background-color: transparent;
    color: white;
    font-size: 13px;
    border: 1px solid white;
    margin: 0 10px;
    text-align: center;
}

a.botonOvalado.nav-link:hover{
    color: #FFD700;
    border-color: #FFD700;
}

#navbarSupportedContent .active a.botonOvalado.nav-link{
    color: #FFD700;
    border-color: #FFD700;
}

#navbarSupportedContent ul{
    display: flex;
    flex-direction: row; /* Alineación horizontal de los elementos */
    list-style: none;    /* Elimina los puntos de las listas */
    padding-left: 0;
    margin-bottom: 0;
}

#navbarOpciones a{
    color: white;
    font-size: 14px;
}

#navbarOpciones{
    min-height: 70px;
}

#navbarOpciones ul{
    min-height: 70px;
}

#navbarOpciones .nav-item{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

#navbarOpciones .nav-item.active a{
    color: #FFD700;
}

#navbarOpciones .nav-item.active{
    color: #FFD700;
    border-bottom: 2px solid #FFD700; /* Línea inferior */
}

#navbarOpciones a:hover{
    color: #FFD700;
}

/*Estilos extra login*/
#debugUsersBar{
    margin: 10px 0 0 0;
}

#usuarioNav{
    display: inline-block;
    user-select: none;
    color: white;
    font-size: 16px;
    vertical-align: bottom;
    
}

#usuarioNav:hover{
    color: #FFD700;
}

/*ESTILOS DEL DESPLEGABLE DE USUARIO*/
.desplegableNavbar{
    position: absolute;
    background-color: #312A40;
    top: 55px;
    right: -7px;
    width: 240px;
    border-radius: 10px;
}

/*si no pongo el pading en el cuerpo la transición al cerrar es mas brusca*/
.cuerpoDespNav{
    padding: 10px 5px;
}

.desplegableNavbar .despUsItem:visited,
.desplegableNavbar .despUsItem{
    color: #c2bcd3;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    padding: 7px 15px;
}

.desplegableNavbar .despUsItem:hover{
    color: white;
    background-color: transparent;
}

.cuerpoDespNav button{
    color: inherit; /*hereda el color del padre*/
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    padding: 0px 0px;
    display: block;
    width: 100%;
    text-align: left;
}

.separadorDesplegable{
    border-top: 1px solid #c2bcd3;
    margin: 5px 10px;
}

/*ESTILOS DINAMICOS SEGÚN EL TEMA*/
/*copiado de bootstrap btn-outline-dark*/
.btn.boton-dinamico {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
}
  
/* Estilos para el botón en el modo oscuro */
/*copiado de bootstrap btn-outline-light*/
[data-bs-theme="dark"] .btn.boton-dinamico {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}
