/*Fondo para destacar elemento*/

.fondoDestacado{
    background-color:rgba(0, 0, 0, 0.4); 
    color: white;
}

[data-bs-theme="dark"] .fondoDestacado{
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

/*Estilos para el navBar principal*/

#navPrincipal{
    background-color: #6A0DAD;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0;
    min-height: 70px;
}

#logoNav{
    width: 150px;
    height: 26px;
    margin: 0 , 17px, 17px ,17px;
}

#navbarSupportedContent{
    max-height: 70px;
    min-height: 70px;
}

#iconoAjustes:hover{
    color: #FFD700;
}
#iconoAjustes{
    color: white;
}

.botonIcono{
    outline: none;
    background-color: transparent;
}

/*para que mantenga el color en blanco cuando ya se ha seleccionado 
(aumenta la especifidad para sobreescribir el comportamiento de .botoOvalado:visited)*/
a.botonOvalado.nav-link{
    border-radius: 20px;
    padding: 7px 28px;
    background-color: transparent;
    color: white;
    font-size: 13px;
    border: 1px solid white;
    margin: 0 10px;
    text-align: center;
}

a.botonOvalado.nav-link:hover{
    color: #FFD700;
    border-color: #FFD700;
}

#navbarSupportedContent .active a.botonOvalado.nav-link{
    color: #FFD700;
    border-color: #FFD700;
}

#navbarSupportedContent ul{
    display: flex;
    flex-direction: row; /* Alineación horizontal de los elementos */
    list-style: none;    /* Elimina los puntos de las listas */
    padding-left: 0;
    margin-bottom: 0;
}

#navbarOpciones a{
    color: white;
    font-size: 14px;
}

#navbarOpciones{
    min-height: 70px;
}

#navbarOpciones ul{
    min-height: 70px;
}

#navbarOpciones .nav-item{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

#navbarOpciones .nav-item.active a{
    color: #FFD700;
}

#navbarOpciones .nav-item.active{
    color: #FFD700;
    border-bottom: 2px solid #FFD700; /* Línea inferior */
}

#navbarOpciones a:hover{
    color: #FFD700;
}

/*Estilos extra login*/
#debugUsersBar{
    margin: 10px 0 0 0;
}

#usuarioNav{
    display: inline-block;
    user-select: none;
    color: white;
    font-size: 16px;
    vertical-align: bottom;
    
}

#usuarioNav:hover{
    color: #FFD700;
}

/*ESTILOS DEL DESPLEGABLE DE USUARIO*/
.desplegableNavbar{
    position: absolute;
    background-color: #312A40;
    z-index: 9999;
    top: 55px;
    right: -7px;
    width: 240px;
    border-radius: 10px;
}

/*si no pongo el pading en el cuerpo la transición al cerrar es mas brusca*/
.cuerpoDespNav{
    padding: 10px 5px;
}

.desplegableNavbar .despUsItem:visited,
.desplegableNavbar .despUsItem{
    color: #c2bcd3;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    padding: 7px 15px;
}

.desplegableNavbar .despUsItem:hover{
    color: white;
    background-color: transparent;
}

.cuerpoDespNav button{
    color: inherit; /*hereda el color del padre*/
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    border: none;
    padding: 0px 0px;
    display: block;
    width: 100%;
    text-align: left;
}

.separadorDesplegable{
    border-top: 1px solid #c2bcd3;
    margin: 5px 10px;
}

/*ESTILOS DINAMICOS SEGÚN EL TEMA*/
/*copiado de bootstrap btn-outline-dark*/
.btn.boton-dinamico {
    --bs-btn-color: #212529;
    --bs-btn-border-color: #212529;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #212529;
    --bs-btn-hover-border-color: #212529;
    --bs-btn-focus-shadow-rgb: 33, 37, 41;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #212529;
    --bs-btn-active-border-color: #212529;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #212529;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #212529;
    --bs-gradient: none;
}
  
/* Estilos para el botón en el modo oscuro */
/*copiado de bootstrap btn-outline-light*/
[data-bs-theme="dark"] .btn.boton-dinamico {
    --bs-btn-color: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f8f9fa;
    --bs-btn-hover-border-color: #f8f9fa;
    --bs-btn-focus-shadow-rgb: 248, 249, 250;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8f9fa;
    --bs-btn-active-border-color: #f8f9fa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f8f9fa;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f8f9fa;
    --bs-gradient: none;
}

/*Scroll Bar*/

.scrollBarPerso::-webkit-scrollbar-track {
    border-color: transparent;
    background-color: transparent;
    border: 2px solid transparent;
}
.scrollBarPerso::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: var(--bs-secondary-color);
    min-height: 40px;
}
.scrollBarPerso::-webkit-scrollbar-corner {
    background-color: transparent;
}
.scrollBarPerso::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*ESTILO PARA BARRA BUSCADOR*/
.barraBuscador {
    display: flex;
    line-height: 30px;
    align-items: center;
    position: relative;
    width: 100%;
    height: 30px;
    max-width: 500px;
}

.inputBuscador {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    padding-left: 2.5rem;
    font-size: 14px;
    box-shadow: 0 0 0 1.5px #d1d1d1, 0 0 25px -10px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 12px;
    background-color: #eceff7;
    outline: none;
    color: #444746;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
}

.inputBuscador::placeholder {
    color: #444746;
}

.inputBuscador:hover {
    box-shadow: 0 0 0 2.5px #b0b0b0, 0px 0px 25px -10px rgba(0, 0, 0, 0.3);
}

.inputBuscador:focus {
    box-shadow: 0 0 0 2.5px #a0a0a0;
}

.inputBuscador:active {
    transform: scale(0.95);
}

[data-bs-theme="dark"] .inputBuscador {
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    background-color: #16171d;
    color: #bdbecb;
}

[data-bs-theme="dark"] .inputBuscador::placeholder {
    color: #bdbecb;
}

[data-bs-theme="dark"] .inputBuscador:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

[data-bs-theme="dark"] .inputBuscador:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
}

.iconoBuscador {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}     

.inputBuscador::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*ESTILOS PARA EL NAVEGADOR DE SECCIONES*/

.navSecciones{
    overflow-y: auto;
    height: 100%;
    width: 200px;
    padding: 0px 15px 0 15px;
    border-right: 1px solid var(--bs-tertiary-color);
}

.navSeccionescomprimido{
    height: 54px;
    min-height: 54px;
    overflow: auto;
    min-width: 0;
    font-weight: 700;
    line-height: 17px;
}

.tituloSeccion{
    font-size: 14px;
    margin: 0px 0 1px 0;
    color: #C6A1FF ;
}

.enlaceSeccion{
    font-size: 13px;
    margin: 5px 0 0 7px;
}

.spanAjustado{
    box-sizing: border-box;
}

.logoClase{
    margin-bottom: 0px;
}

.enlaceSeccion:hover span{
    color: #FFD700;
}

.grupoSecciones{
    margin: 0 0 10px 0;
}

/*ESTILOS PARA LOS EVENTOS Y LA LISTA DE EVENTOS*/
.listaEventos{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0px 15px 0 0px;
    box-sizing: border-box;
}

.caja-etiquetas {
    margin-top: 12px;
    font-size: 13px;
    flex-grow: 1;
    min-width: 0;
    display: flex;
    overflow-x: auto;
}

.caja-etiquetas::-webkit-scrollbar {
    height: 7px;
}

.etiquetaEvento{
    background-color: rgba(33, 37, 41, 0.1);
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 3px;
    max-height: 24px;
    text-align: center;
}

[data-bs-theme="dark"] .etiquetaEvento{
    background-color: rgba(222, 226, 230, 0.5);;
    color: #c6c7c8;
}

.Evento{
    width: 100%;
    min-width: 150px;
    min-height: 94px;
    max-height: 94px;
    margin: 15px 0px;
    border-radius: 10px;
}

.Evento:hover{
    filter: brightness(0.8); /* oscurece el color */
}

[data-bs-theme="dark"] .Evento:hover{
    filter: brightness(1.2); /* Aclarar el color */
}

/*ESTILOS CREAR APUESTA*/
#confirmacionApuesta{
    width: 100px; 
    height: 100px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#confirmacionApuesta2{
    width: 100px; 
    height: 100px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.invisible {
    visibility: hidden;
}

.desaparece{
    display: none;
}

.contenedor-apuesta{
    background-color: #f2f3f5;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    max-width: 450px;
    margin-top: 10px;
    margin-right: 20px ;
}

[data-bs-theme="dark"] .contenedor-apuesta{
    border: 0px solid rgba(0, 0, 0, 0.1);
    background-color: #313338;
}

.contenedor-apuesta .titulo-campo-apuesta{
    font-weight: bold;
}
#descripcion-contendor-apuesta{
    font-size: 14px;
}

.contenedor-info{
    font-size: 12px;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    max-width: 353;
    overflow-x: auto;
    border-width: 3px !important; 
}
/*BOTON SVG SOBRE FONDO (copiado de btn-close)*/

[data-bs-theme="dark"].btn-svg {
    filter: invert(1) grayscale(100%) brightness(200%);;
}

.btn-svg {
    box-sizing: content-box;
    padding: 0;
    color: #000;
    background: transparent;
    border: 0;
    border-radius: 0.375rem;
    opacity:  0.5;
}

.btn-svg:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
}
.btn-svg:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;;
}
.btn-svg:disabled, .btn-close.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity:  0.25;
}

#lista-Variables-Cr{
    font-size: 12px;
    border-radius: 8px;
    padding: 5px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: none;
    border-width: 3px !important; 
}

.spanAdaptable{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

/*ESTILOS PARA LA TABLA DE REPORTES*/

.colorBordeResponsif{
    border-color: #c6c7c8;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
}

[data-bs-theme="dark"] .colorBordeResponsif{
    border-color: #4d5154;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
}

.textoColapsable{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: .6em;
    font-size: 1.25em;
    line-height: normal;
}

.estilo-contenedor-adaptable{
    background-color: #f2f3f5;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

[data-bs-theme="dark"] .estilo-contenedor-adaptable{
    border: 0px solid rgba(0, 0, 0, 0.1);
    background-color: #313338;
}

.scroll-bar-oculta {
    overflow: auto; /* Permite el desplazamiento */
    scrollbar-width: none; /* Firefox: oculta la barra */
}

.scroll-bar-oculta::-webkit-scrollbar {
    display: none; /* Chrome, Safari: oculta la barra */
}

.resaltaHover:hover{
    background: rgba(0, 0, 0, 0.1);
}

[data-bs-theme="dark"] .resaltaHover:hover{
    background: rgba(255, 255, 255, 0.1);
}