#divResetearFiltros{
    display: flex;
    align-items: center;
}

#botonResetearFiltros{
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);

    display: flex;
    justify-content: center;
    
    width: 70%;

    hyphens: auto;
    word-break: break-word;
}
#tablaReportesMensajes{
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.encabezadoTablaReportes{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--bs-border-color);
    padding: 10px;
    font-weight: bold;
}

.celdaTablaReportes{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--bs-border-color);

    height: 200px;
}

.celdaTablaReportesEspecial{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--bs-border-color);
}

#saltoPaginaReportes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoReportes{
    margin: 2px;
}
.iconoReportes:hover{
    color: #A78BFA;
}

.motivoReporte{
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.botonesResolverReporte{
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);

    display: flex;
    justify-content: center;

    hyphens: auto;
    word-break: break-word;
}

#decidirBaneo{
    display: flex;
    justify-content: center;
}

#cuerpoTablaReportes{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    padding: 0px 16px 0px 0px;
    border-left: 1px solid var(--bs-border-color);
}

.filaEncabezadoReportes{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.filaTablaReportes{
    margin-left: 0px;
}


#flecha-atras-apuesta{
    transform: translate(5px, 5px); 
}


/* SECCIONES */

/*NavSeccionesAdmin*/
.navSeccionesAdmin{
    overflow-y: auto;
    height: 100%;
    width: 350px;
    padding: 0px 15px 0 0px;
    border-right: 1px solid var(--bs-tertiary-color);
}

.spanAjustadoAdmin{
    box-sizing: border-box;
    font-size: 18px;
}

.tituloSeccionAdmin{
    font-size: 14px;
    margin: 0px 0 1px 0;
    font-weight: bold;
}

.enlaceSeccionAdmin:hover span{
    color: #C6A1FF;
}

.navSeccionesAdminComprimido{
    height: 54px;
    min-height: 54px;
    overflow: hidden;
    width: calc(100vw - 40px);;
    font-weight: 700;
    line-height: 17px;
}


/* secciones*/

#menuOpcionesSeccion {
    display: none; /* Asegura que el menú esté oculto por defecto */
    position: absolute; /* Necesario para posicionar el menú */
    background: white;

    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);

    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}
#menuOpcionesSeccion a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: var(--bs-border-radius);
}
#menuOpcionesSeccion a:hover {
    background: #f0f0f0;
}

#botonCrearSeccion{
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 70%;

    hyphens: auto;
    word-break: break-word;
}

#botonCrearSeccion:hover {
    color: #C6A1FF;
}

.seccionesDerecha{
    display: flex;
    flex-direction: column;
    align-items: center;
  

    height: 100%;
}

.formularioSeccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 20px;
    overflow-y: auto;
    flex-grow: 1;
    overflow-x: none;
}

.zonaDatos {
    width: 100%;
}

.formularioVariables {
   

    display: flex;
    flex-direction: column;

    width: 96%;
}

#botonCrearVariable {
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #836ad0;
   

    margin: 0px 15px 15px 15px;

    hyphens: auto;
    word-break: break-word;
}


.encabezadoVariables {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bs-border-color);
}

.variableSeccion {
    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);

    margin: 0px 15px 15px 15px;

    display: flex;
    flex-direction: column;

    max-height: 80px;
}

#mostrarImagenSeccionesForm {
    width: 150px;
    height: 150px;
}

#contenedorVariables{
    min-height: 200px;
}

#contConfirmarSeccion{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bs-border-color);
}

.separadorMovilSecciones{
    border-top: 1px solid var(--bs-border-color);
}

#divEtiquetasVariables{
    white-space: nowrap;
}