
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    margin-left: auto;
    margin-right: 0;
    position: fixed;
    background-color: transparent !important;
}

.nav-link-ingresar {
    background-color: #ffffff00;
    color: #6A0DAD;
    font-weight: bold;
    font-size: 20px;
    margin-left: 100px;
}

#sidebar .nav-item {
    margin-bottom: 30px;
    margin-top: 30px;
}

.row {
    display: flex;
    flex-direction: column;
    height: 100vh;

}


.nav-link-ingresar:hover{
    background-color:#ffffff00;
    color:#FFD700;
    font-weight: bold;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: #6A0DAD;
    color: white;
    border-radius: 10px;
    font-weight: 650;
    border-color: transparent;
}

.h1-ingresar {
    font-weight: bold;
    margin-bottom: 30px;
    color: #6A0DAD;
    margin-top: 200px;

}

.btn.btn-secondary.dropdown-toggle:hover {
    background-color: #6A0DAD;
    color: white;
    border-radius: 10px;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form .form-label {
    font-weight: bold;
}

.login-form .btn-paypal {
    width: 100%;
    padding: 10px;
    background-color: #3481e5;
    color: #ffffff;
    border: none;
}

.login-form .btn-paypal:hover {
    background-color: #0e5cc3;
}

.login-form .btn-tarjeta {
    width: 100%;
    padding: 10px;
    background-color: #f1800e;
    color: #ffffff;
    border: none;
}

.login-form .btn-tarjeta:hover {
    background-color: #f1520e;
}

.login-form .form-text {
    text-align: center;
    margin-top: 1rem;
}

.centered-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    flex-grow: 0;
    margin-top: 10px;
}

footer {
    background-color: transparent !important;
    position: relative;
    z-index: 10;
    margin-top: 20px;
}

[data-bs-theme="dark"] footer {
    background-color: transparent !important;
}

