.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.custom-box {
    display: flex;
    padding: 2rem;
    background-color: #2d2d2d;
    border-radius: 12px;
    color: white;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
    margin-left: auto;
    margin-right: 0;
    position: fixed;
    background-color: transparent !important;
    padding-right: 2rem;
}

#sidebar .nav-item {
    margin: 30px 0;
}

.nav-link-ingresar {
    background-color: transparent;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-left: 100px;
}

.nav-link-ingresar:hover {
    color: #FFD700;
}

.h1-ingresar, .h1-retirar {
    font-weight: bold;
    color: #ffffff;
    margin-top: 150px;
    margin-bottom: 30px;
    position:static;
}

.h1-ingresar {
    color: #FFD700;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: #6A0DAD;
    color: white;
    border-radius: 10px;
    font-weight: 650;
    padding: 8px 12px;
    border-color: transparent;
}

.btn.btn-secondary.dropdown-toggle:hover {
    background-color: #6A0DAD;
}

.dropdown-menu {
    background-color: #444;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 0;
}

.dropdown-item {
    color: white;
    padding: 8px 12px;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #6A0DAD;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-color: transparent;
    background-color: transparent;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form .form-label {
    font-weight: bold;
}

.login-form .btn-paypal, .login-form .btn-tarjeta {
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: none;
}

.login-form .btn-paypal {
    background-color: #3481e5;
}

.login-form .btn-paypal:hover {
    background-color: #0e5cc3;
}

.login-form .btn-tarjeta {
    background-color: #f1800e;
}

.login-form .btn-tarjeta:hover {
    background-color: #f1520e;
}

.login-form .form-text {
    text-align: center;
    margin-top: 1rem;
}

[data-bs-theme="light"] .login-form {
    background-color: #ffffff;
    color: #000000;
}

[data-bs-theme="light"] .btn-paypal {
    background-color: #3481e5;
}

[data-bs-theme="light"] .btn-tarjeta {
    background-color: #f1800e;
}

[data-bs-theme="dark"] .login-form {
    background-color: #2d2d2d;
    color: #ffffff;
}

[data-bs-theme="dark"] .login-form .form-label {
    color: #ffffff;
}

[data-bs-theme="dark"] .btn-paypal {
    background-color: #0e5cc3;
}

[data-bs-theme="dark"] .btn-tarjeta {
    background-color: #f5820f;
}

.row {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.centered-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    flex-grow: 0;
    margin-top: -70px;
}

footer {
    background-color: transparent !important;
    position: static;
    bottom: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
}

[data-bs-theme="dark"] footer {
    background-color: transparent !important;
}

input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: transparent;
}

#fechacaducidad {
    background-color: transparent;
}

.saldo-box {
    margin-bottom: 200px;
}

[data-bs-theme="dark"] .saldo-box {
    background-color: #2d2d2d;
    color: white;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

[data-bs-theme="light"] .saldo-box {
    background-color: white;
    color: #2d2d2d;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.saldo-header {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

[data-bs-theme="light"] .divider {
    height: 1px;
    background-color: #2d2d2d;
    margin: 10px 0;
}

[data-bs-theme="dark"] .divider {
    height: 1px;
    background-color: white;
    margin: 10px 0;
}

.metodo-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-cartera {
    flex: 1;
    color: white;
    padding: 10px;
    margin: 0 5px;
    border-radius: 8px;
    text-align: center;
}

.btn-cartera {
    background-color: #3481e5;
}

.btn-cartera:hover {
    background-color: #0e5cc3;
}