#flecha-atras-apuesta{
    transform: translate(5px, 5px); 
}
.line {
    position: absolute;
    width: 2px; /* Grosor de la línea */
    height: 100%; /* Altura total */
    background-color: gray;
    top: 0;
    left: 50%; /* Centra la línea */
    transform: translateX(-50%);
    left: 29px;
    background-color:white;
}
#tablaTuApuesta{
    margin-top: 20px;
    font-weight: bold;
    background-color: #777777;
}

#tablaApuestasSeleccionadas{
    font-weight: 400;
    position: relative;
}

.apuestaSeleccionada{
    display: flex; /*coloca en la misma línea el círculo y el texto*/
}

.iconoCirculoApuesta{
    margin-bottom: 8px;
    color:white;
    background-color: #777777;
    position: relative;
}

.textoIconoApuesta{
    margin-top: 1px;
}
.botonesTuApuesta:hover{
    color: #FFD700;
}

.botonDesplegable {
    background-color: transparent;
    color: white;
    padding: 10px 0px 20px 0px;
}

.botonDesplegable:hover {
    color: #A78BFA;
}

.tablaSeleccionApuesta{
    border-radius: 5px;
    padding: 0px 15px;
}

#etiquetaTabla{
    margin-left: 5px
}

.colsNumeros{
    background-color: transparent;  
    height: 50px;

    display: inline-flex; /*centra el texto en ambas coordenadas*/
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.colsLineas{
    background-color: transparent; 
    height: 50px;
    display: inline-flex;
    align-items: center;
    padding: 10px 10px;
    font-weight: bold;
}

.colsCuotas{
    background-color: transparent; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #FFD700;
} 

.colsCuotas:hover{
    background-color: rgba(255, 255,255,0.2);
}

.separador-vertical-apuestas {
    color: inherit;
    border-right: 2px solid;
    opacity: 0.25;
    height: 100%;
}

.separador-horizontal-apuestas {
    border: 1px solid;
    opacity: 0.25;
    margin: 0;
}


.colsCuotasVerificadasInc {
    background-color: transparent; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.colsCuotasVerificadasCorr{
    background-color: transparent; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #A78BFA;
}