<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>CrearApuesta</title>

    <link rel="stylesheet" href="css_german.css"> <!-- Ruta del archivo CSS -->
    
</head>

<body class="d-flex flex-column h-100" data-bs-theme="dark">
    
    <header th:replace="fragments/nav.html :: nav('deportes')"></header> <!-- no sé si dejarlo o no-->

    <a id = "flecha-atras-apuesta" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-left-short" viewBox="0 0 16 16" id = "flecha-atras-apuesta">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
    </a>

    <div id = "tablaTuApuesta" class = "mx-auto w-50 bg-body-secondary">
        <span class = "d-flex flex-column justify-content-center align-items-center pb-4">Tu apuesta</span>
        <hr class="separador-horizontal-apuestas">
        <div class = "p-2">
            <div class = "d-flex justify-content-between mb-2" style = "color:gray">
                <span class = "ms-4">@Mallorca vs Osasuna</span>
                <span class = "col text-end me-4">3</span>
            </div>
            <div id = "tablaApuestasSeleccionadas">
                <div class = "apuestaSeleccionada ms-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    </svg>
                    <span class = "ms-2 texto-sm">Total de goles: Más de 2,5</span>
                </div>
                <div class = "apuestaSeleccionada ms-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    </svg>
                    <span class = "ms-2">Ambos equipos anotarán: Sí</span>
                </div>
            </div>
            
        </div>

        <div class="row gx-0" style = "background-color:black">
            <hr class="separador-horizontal-apuestas">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <span>Establecer cantidad:</span>
                <div class="separador-vertical-apuestas ms-auto"></div>
            </div>
            
            <div class="col-6 d-flex justify-content-center align-items-center" style = "color: gold">Apostar</div>
        </div>
    </div>

    <div class="container mt-4 d-flex flex-column bg-body-secondary tablaSeleccionApuesta">
        <div class="align-items-center justify-content-center d-flex flex-grow-1 botonDesplegable" data-bs-toggle="collapse" data-bs-target="#tablaDesplegable" aria-expanded="false">
            <span id="etiquetaTabla">Total de Goles</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
        </div>

        <div class="collapse container" id="tablaDesplegable"> <!-- Los ID se camiarán luego con TH según el ID en la base de datos-->

            <div class="row">
                <hr class="separador-horizontal-apuestas">
                <div class="col-4"></div>
                <div class="col-4 colsNumeros">Más de</div>
                <div class="col-4 colsNumeros">Menos de</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        2.5 goles
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotas">2.00</div>
                <div class="col-4 colsCuotas">3.00</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        3.5 goles
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotas">3.75</div>
                <div class="col-4 colsCuotas">1.82</div>
            </div>
        </div>
    </div>

    <div class="container mt-4 d-flex flex-column bg-body-secondary tablaSeleccionApuesta">
        <div class="align-items-center justify-content-center d-flex flex-grow-1 botonDesplegable" data-bs-toggle="collapse" data-bs-target="#tablaDesplegable2" aria-expanded="false">
            <span id="etiquetaTabla">Equipo - Mayor número</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
        </div>

        <div class="collapse container" id="tablaDesplegable2"> 

            <div class="row">
                <hr class="separador-horizontal-apuestas">
                <div class="col-3"></div>
                <div class="col-3 colsNumeros">Mallorca</div>
                <div class="col-3 colsNumeros">Empate</div>
                <div class="col-3 colsNumeros">Osasuna</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-3 colsLineas">
                    <span>
                        Tarjetas
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-3 colsCuotas">2.10</div>
                <div class="col-3 colsCuotas">4.00</div>
                <div class="col-3 colsCuotas">2.60</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-3 colsLineas">
                    <span>
                        Córners
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-3 colsCuotas">1.53</div>
                <div class="col-3 colsCuotas">8.00</div>
                <div class="col-3 colsCuotas">3.00</div>
                <hr class="separador-horizontal-apuestas">
            </div>

            <div class="row">
                <div class="col-3 colsLineas">
                    <span>
                        Remates a puerta
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-3 colsCuotas">1.30</div>
                <div class="col-3 colsCuotas">7.50</div>
                <div class="col-3 colsCuotas">4.75</div>
                <hr class="separador-horizontal-apuestas">
            </div>

            <div class="row">
                <div class="col-3 colsLineas">
                    <span>
                        Remates
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-3 colsCuotas">1.28</div>
                <div class="col-3 colsCuotas">7.50</div>
                <div class="col-3 colsCuotas">3.75</div>
            </div>
        </div>      
    </div>
    
    <div class="container mt-4 d-flex flex-column bg-body-secondary tablaSeleccionApuesta">
        <div class="align-items-center justify-content-center d-flex flex-grow-1 botonDesplegable" data-bs-toggle="collapse" data-bs-target="#tablaDesplegable3" aria-expanded="false">
            <span id="etiquetaTabla">Ambos equipos recibirán tarjetas</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
        </div>

        <div class="collapse container" id="tablaDesplegable3">

            <div class="row">
                <hr class="separador-horizontal-apuestas">
                <div class="col-4"></div>
                <div class="col-4 colsNumeros">Sí</div>
                <div class="col-4 colsNumeros">No</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        Una tarjeta
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotas">1.12</div>
                <div class="col-4 colsCuotas">6.00</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        Dos tarjetas o más
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotas">1.66</div>
                <div class="col-4 colsCuotas">2.10</div>
                <hr class="separador-horizontal-apuestas">
            </div>

            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        Una tarjeta roja
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotas">29.00</div>
                <div class="col-4 colsCuotas">1,06</div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4 d-flex flex-column bg-body-secondary tablaSeleccionApuesta">
        <div class="align-items-center justify-content-center d-flex flex-grow-1 botonDesplegable" data-bs-toggle="collapse" data-bs-target="#tablaDesplegable4" aria-expanded="false">
            <span id="etiquetaTabla">Ambos equipos anotarán</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
        </div>

        <div class="collapse container" id="tablaDesplegable4">

            <div class="row">
                <hr class="separador-horizontal-apuestas">
                <div class="col-4"></div>
                <div class="col-4 colsNumeros">Sí</div>
                <div class="col-4 colsNumeros">No</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        Encuentro
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotas">2.10</div>
                <div class="col-4 colsCuotas">1.66</div>
                <hr class="separador-horizontal-apuestas">
            </div>

            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        1ª mitad
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div> 

                <div class="col-4 colsCuotas">6.50</div>
                <div class="col-4 colsCuotas">1.11</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        2ª mitad
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotas">4.00</div>
                <div class="col-4 colsCuotas">1.22</div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>