<!DOCTYPE html >
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>  
    <th:block th:replace="fragments/head :: header"/>
    <title>Eventos</title>
    
    <link rel="stylesheet" th:href="@{/css/simple-datatables-10.css}" href="/css/simple-datatables-10.css"
    type="text/css" />

</head>

<body>
    <header th:replace="fragments/nav.html :: nav('administrar')"></header>

    <div class="ms-4">
        <div th:replace="fragments/menuAdmin.html :: navAdmin('Eventos')"></div>
    </div>

    <div class="modal fade" id="cancelarEventoModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
            <div class="modal-content" style="position: relative;">
                <div id="ocultador-formulario1">
                    <form id="apostarForm1">
                        <div class="modal-header">
                            <h5 class="modal-title">Eliminar evento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                    
                        <div class="modal-body">
                            <span> ¿Seguro que quiere eliminar permanentemente este evento?</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">Eliminar evento</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Nombre </th>
                <th>Fecha de Creación </th>
                <th>Fecha de Cierre </th>
                <th> </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="evento : ${eventos}">
                <td th:text="${evento.nombre}"></td>
                <td th:text="${evento.fechaCreacion}"></td>
                <td th:text="${evento.fechaCierre}"></td>
                <td>
                    <a th:href="@{eventos/determinar/{id}(id=${evento.id})}">
                        <button th:id = "'botonDeterminarEvento-' + ${evento.id}" class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#determinarEventoModal">
                            Determinar
                        </button>
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger" type="button" href="#" data-bs-toggle="modal" data-bs-target="#cancelarEventoModal">
                        Cancelar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    

    <script type="module">
        import { DataTable } from "../js/simple-datatables-10.js"
        new DataTable("#myTable");
    </script>
</body>