<!DOCTYPE html >
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>IW: Welcome</title>

    <style>
        .gold-text {
            color: rgb(255, 217, 0);
            font-weight: bold;
            font-family: Cambria;
        }
        .no-space {
            letter-spacing: 0;
        }
    </style>

</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav('deportes')"></header>

    <main class="d-flex flex-grow-1 overflow-hidden">
        <nav th:replace="fragments/navSecciones.html :: navSecciones"></nav>
        
        <div class="d-flex flex-column flex-grow-1">
            <div class="barraBuscador mt-4 ms-4">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="iconoBuscador">
                <g>
                    <path
                    d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                    ></path>
                </g>
                </svg>
            
                <input
                id="queryEventos"
                class="inputBuscador"
                type="search"
                placeholder="Search..."
                name="searchbar"
                />
            </div>
            

            <div class="d-flex flex-column listaEventos mt-3 scrollBarPerso" >
                <div class="d-flex align-items-center my-3">
                    <div class="flex-grow-1 border-bottom"></div>
                    <span class="mx-2 text-muted" style="font-size: 13px;">16/02/2025</span>
                    <div class="flex-grow-1 border-bottom"></div>
                </div>
                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>

                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>

                <div class="d-flex align-items-center my-3">
                    <div class="flex-grow-1 border-bottom"></div>
                    <span class="mx-2 text-muted" style="font-size: 13px;">19/03/2025</span>
                    <div class="flex-grow-1 border-bottom"></div>
                </div>

                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>

                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>

                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>
            <div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>

<!--
<div class="d-flex flex-grow-1 h-100">
        <nav th:replace="fragments/navSecciones.html :: navSecciones"></nav>
        
        <div class="d-flex flex-column flex-grow-1 ps-4">
            <nav th:replace="fragments/navSeccionescomprimido.html :: navSeccionescomprimido"></nav>
            <div class="pe-4">
                <div class="barraBuscador mt-4">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="iconoBuscador">
                    <g>
                        <path
                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                        ></path>
                    </g>
                    </svg>
                
                    <input
                    id="queryEventos"
                    class="inputBuscador"
                    type="search"
                    placeholder="Search..."
                    name="searchbar"
                    />
                </div>
            </div>
            

            <div class="d-flex flex-column listaEventos mt-3 scrollBarPerso" >
                <div class="d-flex align-items-center my-3">
                    <div class="flex-grow-1 border-bottom"></div>
                    <span class="mx-2 text-muted" style="font-size: 13px;">16/02/2025</span>
                    <div class="flex-grow-1 border-bottom"></div>
                </div>
                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>

                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>

                <div class="d-flex align-items-center my-3">
                    <div class="flex-grow-1 border-bottom"></div>
                    <span class="mx-2 text-muted" style="font-size: 13px;">19/03/2025</span>
                    <div class="flex-grow-1 border-bottom"></div>
                </div>

                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>

                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>

                <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/crearApuesta}" href="/crearApuesta">
                    <div class="d-flex align-items-start w-100">
                        <div class = "d-inline-flex align-items-end me-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-question-square logoClase" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                            </svg>
                            <h3 class="ms-2 mb-0">Nombre evento</h3>
                        </div>

                        <div class="vr ms-auto" style = "width: 2px;"></div>
                        <div class="ms-2 d-flex flex-column align-items-center">
                            <p class="mb-0" style ="font-size: 12px;">01/01/2021</p>
                            <p class="mb-0" style = "font-size: 12px;">16:00</p>
                        </div>
                        <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="caja-etiquetas scrollBarPerso">
                        <span class= "etiquetaEvento">etiqueta1</span>
                        <span class= "etiquetaEvento">etiqueta2</span>
                        <span class= "etiquetaEvento">etiqueta3</span>
                        <span class= "etiquetaEvento">etiqueta4</span>
                        <span class= "etiquetaEvento">etiqueta5</span>
                        <span class= "etiquetaEvento">etiqueta6</span>
                    </div>
                </a>
            <div>
        </div>
    </div>

-->