<!DOCTYPE html >
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>IW: Welcome</title>

    <style>
        .gold-text {
            color: rgb(255, 217, 0);
            font-weight: bold;
            font-family: Cambria;
        }
        .no-space {
            letter-spacing: 0;
        }
    </style>

</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav('deportes')"></header>

    <main class="d-flex flex-grow-1 overflow-hidden">
        <nav th:replace="fragments/navSecciones.html :: navSecciones"></nav>
        
        <div class="d-flex flex-column flex-grow-1 ps-4">
            <nav th:replace="fragments/navSeccionescomprimido.html :: navSeccionescomprimido"></nav>
            <div class="pe-4">
                <div class="barraBuscador mt-4">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="iconoBuscador">
                    <g>
                        <path
                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
                        ></path>
                    </g>
                    </svg>
                
                    <input
                    id="queryEventos"
                    class="inputBuscador"
                    type="search"
                    placeholder="Search..."
                    name="searchbar"
                    />
                </div>
            </div>

            <div class="d-flex flex-column listaEventos mt-3 scrollBarPerso" >
                <th:block th:each="evento,i: ${eventos}">
                    <th:block th:if="${i.first or #temporals.format(evento.fechaCierre, 'yyyy-MM-dd') != #temporals.format(eventos[i.index - 1]?.fechaCierre, 'yyyy-MM-dd')}">
                        <div class="d-flex align-items-center my-3">
                            <div class="flex-grow-1 border-bottom"></div>
                            <span class="mx-2 text-muted" style="font-size: 13px;" th:text="${#temporals.format(evento.fechaCierre, 'dd/MM/yyyy')}">0/0/0</span>
                            <div class="flex-grow-1 border-bottom"></div>
                        </div>
                    </th:block>
                    
                    <a class = "nav-link flex-column bg-secondary px-3 py-2 d-inline-flex align-items-start Evento" th:href="@{/evento/{id}/apostar(id=${evento.id})}" href="/error">
                        <div class="d-flex align-items-start w-100">
                            <div class = "d-inline-flex align-items-end me-2">
                                <img width="25" height="25" th:src="@{/seccion/{id}/pic(id=${evento.seccion.id})}">
                                <h3 class="ms-2 mb-0" th:text="${evento.nombre}">Nombre evento</h3>
                            </div>
    
                            <div class="vr ms-auto" style = "width: 2px;"></div>
                            <div class="ms-2 d-flex flex-column align-items-center">
                                <p class="mb-0" style ="font-size: 12px;">Quedan</p>
                                <p class="mb-0" style = "font-size: 12px;"  data-fecha-evento="${evento.fechaCierre}"></p>
                            </div>
                            <button class ="btn boton-dinamico p-1 d-flex align-items-start ms-3" title="Unirse a chat">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                                    <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                                </svg>
                            </button>
                        </div>
                        <div class="caja-etiquetas scrollBarPerso">
                            <span class= "etiquetaEvento" th:each="etiqueta,i: ${evento.etiquetas}" th:text ="${etiqueta}">...</span>
                        </div>
                    </a>
                </th:block> 
            <div>
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>