<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <title> INGRESO </title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav"></header>
    
    <div class="row">
        <nav id="sidebar" class="col-2 bg-light">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link-ingresar" th:if="${session.u.hasRole('USER')}" 
                           th:href="@{/user/ingreso/ingresar}">INGRESAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-ingresar" th:if="${session.u.hasRole('USER')}" 
                           th:href="@{/user/ingreso/retirar}">RETIRAR</a>
                    </li>
                </ul>
        </nav>

        <div class="centered-div">
            <h1 class = "h1-ingresar">Ingresar</h1>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    SELECCIONA UN MÉTODO DE PAGO
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">
                        <a class="dropdown-item" th:if="${session.u.hasRole('USER')}" 
                           th:href="@{/user/ingreso/ingresar/paypal}">PayPal</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="dropdown-item" th:if="${session.u.hasRole('USER')}" 
                           th:href="@{/user/ingreso/ingresar/tarjeta}">Tarjeta de crédito/débito</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
    <script th:src="@{/js/ajax-demo.js}"></script>
</body>

</html>
