<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>LOGIN</title>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav('login')"></header>

    <main class="flex-grow-1 d-flex flex-column">
        <form class="contenedorLogin mx-auto my-auto" method="post" th:action="@{/login}">
            <h2 class="text-center mb-4 mx-auto">Iniciar Sesión</h2>

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su username" required="required">
                <p th:if="${loginError != false}" class="error">
                    Error en nombre de usuario o contraseña
                </p>
            </div>

            <div class="mb-4">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required="required">
            </div>

            <button type="submit" class="btn btn-primary mb-1">Iniciar Sesión</button>

            <a class ="mx-auto" href="#">¿Olvidaste tu contraseña?</a>
        </form>
        <div class = "d-flex flex-grow-0" id="debugUsersBar">
            <form class="d-flex" th:action="@{/login}" method="post">
                <input type="hidden" name="username" value="Jose Luis">
                <input type="hidden" name="password" value="aa">
                <button type="submit" class="btn btn-outline-danger btn-sm" id = "debugButtonB">b</button>
            </form>

            <form class="d-flex" th:action="@{/login}" method="post">
                <input type="hidden" name="username" value="Ramon">
                <input type="hidden" name="password" value="aa">
                <button type="submit" class="btn btn-outline-danger btn-sm" id = "debugButtonA">a</button>
            </form>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>
