<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header"/>
    <title>IW: Welcome</title>

    <style>
        .gold-text {
            color: rgb(255, 217, 0);
            font-weight: bold;
            font-family: Cambria;
        }
        .no-space {
            letter-spacing: 0;
        }
    </style>

</head>

<body class="d-flex flex-column h-100" data-bs-theme="dark">
    <header th:replace="fragments/nav.html :: nav('apuestas')"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5 no-space">
                Bienvenid@ a <span class="gold-text">GOLD</span>2<span class="gold-text">WIN</span> donde la suerte está de tu lado
            </h1>
            
            <div class="container mt-5">
                <!-- Botón para abrir el desplegable -->
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#miDesplegable" aria-expanded="false" aria-controls="miDesplegable">
                  Abrir desplegable
                </button>
              </div>
              
              <div class="collapse" id="miDesplegable">
                <div class="card card-body mt-3">
                  Aquí va el contenido del desplegable.
                  <p>¡Esto es un texto dentro del desplegable! Puedes agregar más contenido como imágenes, formularios, etc.</p>
                </div>
              </div>
              
        </div>
    </main>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>