<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
        <th:block th:replace="~{fragments/head :: header}" />

    <title>CARTERA</title>

    <style>
        .gold-text {
            color: rgb(255, 217, 0);
            font-weight: bold;
            font-family: Cambria;
        }
        .no-space {
            letter-spacing: 0;
        }
    </style>

</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/nav.html :: nav('ingresar')"></header>

    <div class="row">
        <div class="centered-div">
            <h1 class="h1-retirar">Retirar</h1>
            <form action="/retirar" method="post">
                <label for="saldo" class="form-label">Saldo a retirar (min 5,00€  max 1000,00€):</label>
                <input type ="number", class="form-control" >
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-primary">Confirmar Retiro</button>
                </div>            
            </form>
        </div>
    </div>
    

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>