<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
        <th:block th:replace="~{fragments/head :: header}" />

    <title>VERIFICAR EVENTO</title>

    <link rel="stylesheet" href="css_german.css"> <!-- Ruta del archivo CSS -->
    
</head>

<body class="d-flex flex-column h-100" data-bs-theme="dark">
    
    <header th:replace="fragments/nav.html :: nav('administrar')"></header>

    <a id = "flecha-atras-apuesta" th:href="@{/admin}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-arrow-left-short" viewBox="0 0 16 16" id = "flecha-atras-apuesta">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
        </svg>
    </a>

    <div class="container mt-4 d-flex flex-column bg-body-secondary tablaSeleccionApuesta">
        <div class="align-items-center justify-content-center d-flex flex-grow-1 botonDesplegable" data-bs-toggle="collapse" data-bs-target="#tablaDesplegable" aria-expanded="false">
            <span id="etiquetaTabla">Total de Goles</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto me-2 iconoFlechaDesplegableAbajo" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
        </div>

        <div class="collapse container" id="tablaDesplegable"> <!-- Los ID se camiarán luego con TH según el ID en la base de datos-->

            <div class="row">
                <hr class="separador-horizontal-apuestas">
                <div class="col-4"></div>
                <div class="col-4 colsNumeros">Más de</div>
                <div class="col-4 colsNumeros">Menos de</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        2.5 goles
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        3.5 goles
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4 d-flex flex-column bg-body-secondary tablaSeleccionApuesta">
        <div class="align-items-center justify-content-center d-flex flex-grow-1 botonDesplegable" data-bs-toggle="collapse" data-bs-target="#tablaDesplegable2" aria-expanded="false">
            <span id="etiquetaTabla">Equipo - Mayor número</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto me-2 iconoFlechaDesplegableAbajo" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
        </div>

        <div class="collapse container" id="tablaDesplegable2"> 

            <div class="row">
                <hr class="separador-horizontal-apuestas">
                <div class="col-3"></div>
                <div class="col-3 colsNumeros">Mallorca</div>
                <div class="col-3 colsNumeros">Empate</div>
                <div class="col-3 colsNumeros">Osasuna</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-3 colsLineas">
                    <span>
                        Tarjetas
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-3 colsLineas">
                    <span>
                        Córners
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <hr class="separador-horizontal-apuestas">
            </div>

            <div class="row">
                <div class="col-3 colsLineas">
                    <span>
                        Remates a puerta
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <hr class="separador-horizontal-apuestas">
            </div>

            <div class="row">
                <div class="col-3 colsLineas">
                    <span>
                        Remates
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-3 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
            </div>
        </div>      
    </div>
    
    <div class="container mt-4 d-flex flex-column bg-body-secondary tablaSeleccionApuesta">
        <div class="align-items-center justify-content-center d-flex flex-grow-1 botonDesplegable" data-bs-toggle="collapse" data-bs-target="#tablaDesplegable3" aria-expanded="false">
            <span id="etiquetaTabla">Ambos equipos recibirán tarjetas</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto me-2 iconoFlechaDesplegableAbajo" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
        </div>

        <div class="collapse container" id="tablaDesplegable3">

            <div class="row">
                <hr class="separador-horizontal-apuestas">
                <div class="col-4"></div>
                <div class="col-4 colsNumeros">Sí</div>
                <div class="col-4 colsNumeros">No</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        Una tarjeta
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        Dos tarjetas o más
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <hr class="separador-horizontal-apuestas">
            </div>

            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        Una tarjeta roja
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mt-4 d-flex flex-column bg-body-secondary tablaSeleccionApuesta">
        <div class="align-items-center justify-content-center d-flex flex-grow-1 botonDesplegable" data-bs-toggle="collapse" data-bs-target="#tablaDesplegable4" aria-expanded="false">
            <span id="etiquetaTabla">Ambos equipos anotarán</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-down ms-auto me-2 iconoFlechaDesplegableAbajo" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67"/>
            </svg>
        </div>

        <div class="collapse container" id="tablaDesplegable4">

            <div class="row">
                <hr class="separador-horizontal-apuestas">
                <div class="col-4"></div>
                <div class="col-4 colsNumeros">Sí</div>
                <div class="col-4 colsNumeros">No</div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        Encuentro
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <hr class="separador-horizontal-apuestas">
            </div>

            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        1ª mitad
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div> 
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <hr class="separador-horizontal-apuestas">
            </div>
    
            <div class="row">
                <div class="col-4 colsLineas">
                    <span>
                        2ª mitad
                    </span>
                    <div class="separador-vertical-apuestas ms-auto"></div>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
                <div class="col-4 colsCuotasVerificadasInc">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg iconoCruzApuesta" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments/footer.html :: footer" />
</body>

</html>